.profile {
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    max-width: 880px;
    gap: 30px;
}
@media screen and (max-width: 920px) {
    .profile {
        margin: 0 5%;
    }
}
@media screen and (max-width: 740px) {
    .profile {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 540px) {
    .profile {
        gap: 0;
    }
}
@media screen and (max-width: 340px) {
    .profile {
        padding-top: 42px;
    }
}