.header__line {
    margin: 0 auto;
    padding-top: 41px;
    opacity: .7;
    border-bottom: 1px solid #545454;
}
@media screen and (max-width: 340px) {
    .header__line {
        max-width: 100vw;
    }
}