.view-popup__container {
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    width: min-content;
    height: min-content;
    margin: auto;   
}
@media screen and (max-width: 540px) {
    .view-popup__container {
        min-width: 240px;
        min-height: 300px;
    }
}
